/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700;800&display=swap"); */

@font-face {
  font-family: "Poppins";
  font-style: normal;
  src: url("./poppins/Poppins-Regular.ttf");
}

:root {
  --color: #7e6cf4c5;
  --primary-color: #a2d3ed;
  --body-color: #f5fcff;
  --dark-body-color: #000000;
  --header-color: #f5fcff00;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--body-color);
  width: 100vw;
  height: 100vh;
}

::-webkit-scrollbar {
  display: none;
}

header {
  width: 100%;
  height: 5rem;
  background-color: var(--body-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  background-color: #f5fcff00;
}

header .logo {
  margin-left: 8rem;
}

header .logo h1 {
  cursor: pointer;
}

header .logo h1 img {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
}

header ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 30rem;
  height: 3rem;
  border-radius: 1.5rem;
  backdrop-filter: blur(18px);
  background-color: var(--header-color);
}

header ul li {
  font-size: 1.3rem;
}
header .reg {
  margin-right: 1rem;
}

header .reg button {
  width: 8rem;
  height: 3rem;
  border: none;
  border-radius: 1.5rem;
  font-size: 1.3rem;
  color: white;
  background-color: var(--color);
  backdrop-filter: blur(18px);
  cursor: pointer;
}

header .reg button:last-child {
  margin-left: 1rem;
}

main {
  padding-top: 7rem;
}

main #mainpic {
  margin-left: 5rem;
  width: 70rem;
  height: 40rem;
  border-radius: 2rem;
}

main .parag {
  position: absolute;
  top: 25rem;
  left: 10rem;
}

main .parag h1 {
  font-size: 4rem;
  font-weight: bolder;
  color: white;
}

main .parag p {
  font-size: 1.5rem;
  color: white;
  /* font-weight: bold; */
}

main .parag button {
  width: 12rem;
  height: 3rem;
  border: none;
  border-radius: 1.5rem;
  font-size: 1.3rem;
  color: white;
  background-color: var(--color);
  backdrop-filter: blur(18px);
  cursor: pointer;
}
